extends layout.pug
block variables
    - var pageTitle = "Theater"
block content
    link(rel="stylesheet", href="/stylesheets/theater_desktop.css")
    h1
        | Theater
    .view
        .shadow
        video(id="video",preload="none", muted)
        .title
            | #{name}
        .author
            | #{creator}
    .explorer
        h2
            | Featured Movies
        #movies
            each movie in randomMovies
                #clip
                    img(src="/thumbnails/" + movie.content[0].target + ".png", style="width:100%;height:100%",onclick="window.location.href='/watchMovie/" + movie.name + "'")
                .title
                    | #{movie.name}
                .author
                    | #{movie.creator}
        div(onclick="window.location.href='/makeMovie'", type="button", class="button")
            | Make your own movie
            svg(svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.74 23.74")
                path(d="M11.87,0,9.78,2.09l8.28,8.3H0v3H18.06l-8.28,8.3,2.09,2.09L23.74,11.87Z")
    script.
        var contentList = [];
    each file in content
        script.
            contentList.push("#{file}");
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/remote_theater_client.js")
