extends layout.pug
block variables
    - var pageTitle = "Theater"
block content
    link(rel="stylesheet", href="/stylesheets/theater_desktop.css")
    h1
        | Theater
    .view
        video(id="video",preload="none", muted)
        .title
            | #{name}
        .author
            | #{creator}
    .explorer
        h2
            | Featured Movies
        #movies
            each movie in randomMovies
                #clip
                    img(src="/thumbnails/" + movie.content[0].target + ".png", style="width:100%;height:100%",onclick="window.location.href='/watchMovie/" + movie.name + "'")
                .title
                    | #{movie.name}
                .author
                    | #{movie.creator}
        div(onclick="window.location.href='/makeMovie'", type="button", class="button")
            | Make your own movie &#8594;
    script.
        var contentList = [];
    each file in content
        script.
            contentList.push("#{file}");
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/remote_theater_client.js")
